<div class="main-container text-gray-300 bg-gray-900 px-10 font-Sansation grid grid-cols-3">
     <!-- Navigation -->
    <div class="navigation text-right hidden md:block">
        <div class="title text-4xl  font-bold  py-6 ">Machlou Tailwind</div>
        
        <div class="links  border-r-2  bg-gray-400/50 ">
            <div class="text ">Home</div>
            <div class="icon px-2"><i class='bx bx-home'></i></div>
        </div>
        <div class="links">
            <div class="text">About</div>
            <div class="icon  px-2"><i class='bx bx-info-square'></i></div>
        </div>
        <div class="links">
            <div class="text">Contact</div>
            <div class="icon  px-2"><i class='bx bxs-contact'></i></div>
        </div>
    </div>

   <div class="main col-span-2">
     <!-- Header -->
     <header class="flex justify-end md:justify-between items-center">
        <div class="title hidden md:block">
            <div class="main-title text-6xl font-bold px-4">Games</div>
            <div class="sub-title text-3xl font-bold text-green-600 px-4">For Gamers</div>
        </div>
        <div class="user flex justify-end gap-2 ">
            <div class="login btn ">Log in</div>
            <div class="signup btn ">Sign up</div>
        </div>
    </header>
    
    <!-- Games -->
     <div class="games">
        <section class="mt-7 ">
            <div class="title text-3xl font-bold  text-red-400 mb-5 py-4 px-4 border-b-2 border-yellow-500">Latest Games</div>
           <!-- Start Cards -->
           <div class="Cards grid md:grid-cols-1 lg:grid-cols-3 gap-5">
               <div class="card ">
                   <div class="image w-full h-full"><img class="w-full h-full object-cover" src="images/image1.jpg" alt=""></div>
                   <div class="title absolute text-xl  bg-gray-700/50 p-2 bottom-0 w-full">
                       <div class="main-title font-bold">Machlou Games</div>
                       <div class="sub-title">Developer: MachlouMed</div>
                    </div>
                    <div class="badge ">
                        <div class="icon  "><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i></div>
                        <div class="text">4.9 / 5</div>
                    </div>
                </div>
               <div class="card  ">
                   <div class="image w-full h-full"><img class="w-full h-full object-cover" src="images/image1.jpg" alt=""></div>
                   <div class="title text-xl  bg-gray-700/50 p-2 w-full absolute bottom-0 	 ">
                       <div class="main-title font-bold">Machlou Games</div>
                       <div class="sub-title">Developer: MachlouMed</div>
                    </div>
                    <div class="badge ">
                        <div class="icon"><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i></div>
                        <div class="text">4.9 / 5</div>
                    </div>
                </div>
               <div class="card  ">
                   <div class="image w-full h-full"><img class="w-full h-full object-cover" src="images/image1.jpg" alt=""></div>
                   <div class="title text-xl  bg-gray-700/50 p-2 w-full absolute bottom-0 	 ">
                       <div class="main-title font-bold">Machlou Games</div>
                       <div class="sub-title">Developer: MachlouMed</div>
                    </div>
                    <div class="badge ">
                        <div class="icon"><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i><i class='bx bxs-star '></i></div>
                        <div class="text">4.9 / 5</div>
                    </div>
                </div>
                
                
                <!-- End Cards -->
            </div>

            <div class="title text-3xl font-bold  text-red-400 mt-7 py-4  ">Most Popular</div>
        </section>

        <div class="load-more text-xl p-2 bg-blue-500 flex justify-center">Load More...</div>
     </div>
   </div>

</div>